<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
   <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">

        </div>
        <div class="col col-lg-2">

               <button type="button" class="btn btn-secondary ml-0"> <i class="ni ni-fat-add"></i> Add Post</button>


         </div>

      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Posts</h3>
        </div>
        <div class="card-body">

          <div class="row">
            <div  *ngFor="let p of postsList;let i=index">

           <!-- <div class="col-lg-4 col-md-3">-->
              <div class="col">
              <div class="card card-profile shadow mt-5  " style="width: 28rem; ">
                  <div class="row justify-content-center mb-0">
                    <div class="col-lg-3 order-lg-2">
                      <div class="card-profile-image">
                        <a href="javascript:void(0)">
                          <img src="assets/img/theme/team-4-800x800.jpg" >
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">

                    </div>
                  </div>
                  <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                      <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                          <div>
                            <div >
                            <span class="heading">{{tot}}</span>
                            <span class="description">Comments</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <h3>
                        User Name <span class="font-weight-light">Of the post</span>
                      </h3>

                      <div class="h5 mt-4">
                        Title of the post

                      </div>

                        <p class="card-text"> {{p.description}}</p>
                      <hr class="my-3" />
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">User Name of the comment </h5>
                            <span class="h4 font-weight-bold mb-0">Content of comment</span>
                          </div>
                          <div class="col-auto">
                              <button type="button" class="btn btn-secondary rounded-circle" placement="top"
                                      ngbPopover="This is a very beautiful popover, show some love.">
                                <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                              </button>
                          </div>
                        </div>
                      </div>
                      <a href="javascript:void(0)">Show more</a>
                      <hr class="my-3" />
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">User Name of the comment </h5>
                            <span class="h4 font-weight-bold mb-0">Content of comment</span>
                          </div>
                          <div class="col-auto">
                            <button type="button" class="btn btn-secondary rounded-circle" placement="top"
                                    ngbPopover="This is a very beautiful popover, show some love.">
                              <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <hr class="my-3" />
                      <div class="row">
                      <form #f="ngForm" >
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Write a large text here ..." ngModel  name="contenu"> </textarea>
                      </form>
                        <div class="mt-3 ml-3">
                          <button type="button" class="btn" [disabled]="f.pristine" (click)="addComment(f.value, p.id);">Send Comment
                          <i class="ni ni-send"></i></button></div>
                      </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

