<div class="header bg-gradient-pink pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <h2>Add Cart</h2>
  <form >
    <div>
      <label for="item">Item:</label>
      <input type="text" id="item" name="item" required>
    </div>
    <div>
      <label for="total">Total:</label>
      <input type="number" id="total"  name ="total" required>
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price"  name="price" required>
    </div>
    <button type="submit">Add</button>
  </form>
</div>
